src/Framework/Persistence/database.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--This file defines the structure of the ServerDatabase XML file -->
<!ELEMENT ServerDatabase (User*)>
<!ELEMENT User (TrainedModels*)>
<!ATTLIST User
    UserID ID #REQUIRED
    SignInDate CDATA #REQUIRED>

<!ELEMENT TrainedModels (Model*)>
<!ELEMENT Model (Name, Algorithm, Dataset, Metrics)>
<!ELEMENT Name (#PCDATA)>
<!ATTLIST Name
    TrainingDate CDATA #REQUIRED>

<!ELEMENT Dataset (#PCDATA)>
<!ELEMENT Algorithm (#PCDATA)>

<!ELEMENT Metrics (R2Score, MeanAbsoluteError)>
<!ELEMENT R2Score (#PCDATA)>
<!ELEMENT MeanAbsoluteError (#PCDATA)>